---
import react from 'react';
import './src/global.css';
import NavbarHorizontal from '../layouts/navbarHorizontal';
import Footer from '../layouts/footer';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <NavbarHorizontal />
        <main class="home", id="home">
        </main>
    <Footer />
</body>
</html>