---
import React from 'react';
import '../global.css';
import './components.css';
import "./home.css";
import NavbarHorizontal from '../layouts/navbarHorizontal';
import Footer from '../layouts/footer';
import CardDisplay from '../components/cardDisplay';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
</head>
<body>
    <NavbarHorizontal />
        <main class="home", id="home">
            <CardDisplay />
        </main>
    <Footer />
</body>
</html>