---
import React from "react";
import NavbarHorizontal from "../layouts/navbarHorizontal";
import InfoPanel from "../components/infoPanel.tsx";
import Footer from "../layouts/footer.tsx";
import TripleInfoPanel from "../components/tripleInfoPanel.tsx";
import "./home.css";
import './src/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./node_modules/lineicons/web-font/lineicons.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <body>
        <section>
            <NavbarHorizontal />
            <main class="home">
                <InfoPanel />
                <TripleInfoPanel />
            </main>
            <Footer />
        </section>
    </body>
</html>