@import './card.css';

.cardDisplay-container {
    background: linear-gradient(160deg, #dcdcdc, #e1e1e1);
    border-radius: 0 64px 0 64px;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1400px;
    margin: 32px 0 0 0;
    transition: border-radius 0.5s ease;
}

.cardDisplay-title h2 {
    margin: 0 0 24px 0;
    font-size: 64px;
    font-weight: 800;
}

.cardDisplay-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.cardDisplay-container:hover {
    background: linear-gradient(160deg, #04bb8d, #0798c1);
    border-radius: 64px 0 64px 0;
}

.cardDisplay-container:hover .card {
    border-radius: 64px 0 64px 0;
}
