@import './card.css';

.cardDisplay-container {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 64px 0 64px;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1400px;
    margin: 32px 0 0 0;
    transition: border-radius 0.5s ease, background-color 0.5s ease;
}

.cardDisplay-title {
    font-size: 24px;
    font-weight: 700;
    transition: font-weight 0.5s ease, font-size 0.5s ease;
}

.cardDisplay-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.cardDisplay-container:hover {
    background-color: #a5c7c7;
    border-radius: 64px 0 64px 0;
}

.cardDisplay-container:hover .card {
    border-radius: 64px 0 64px 0;
}
