.info-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1400px;
}

.info-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.info-panel img {
    width: 700px;
}

.info-panel article {
    display: inline;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
}

.info-panel h2 {
    font-size: 32px;
    margin: 0;
}

.info-panel p {
    font-size: 20px;
    margin: 0;
}

.info-panel a {
    text-decoration: none;
    transition: color 0.3s ease;
    width: 90%;
}

.info-panel button {
    padding: 10px 20px;
    background-color: #005757;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.info-panel button:hover {
    background-color: #0ec0c1;
    color: #ffffff;
}
